.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search {
  margin: 0 auto;
  padding: 2%;
  background-color: #2b3035;
}

.paginator {
  margin: 0 auto;
}

.label {
  color: rgba(255, 255, 255, 0.472);
}

.cont {
  display: flex;
  justify-content: center;
  margin: 0 21% 0 21%;
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.count {
  color: #007bff;
  padding: 1%;
}

.movie-inside {
  margin: 10px 20px 10px 0;
}

.title {
  max-width: 170px;
  color: white;
}
